/** Media Queries **/
@mixin phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($colums, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($colums, 1fr);
}